<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  {{> head}}
  <style>
    .container {
      max-width: 1000px;
      margin: 0 auto;
    }

    strong {
      display: block;
      margin: 1em 0;
    }

    hr {
      margin: 4em 0;
    }
  </style>
</head>

<body>
  {{> nav}}

  <div class="container">
    <h1>🔮 Mystic Kitty <small>Helping you through the year</small></h1>
    <h3>{{currentDateTime}}</h3>
    <p>
      {{solsticesAndEquinoxes.mostRecentEvent.phrase}}<br />
      {{solsticesAndEquinoxes.nextEvent.phrase}}<br />
      🌄 The sun rises at {{sunInfo.sunrise}}<br />
      🌅 And sets at {{sunInfo.sunset}}<br />
      {{moonInfo.phase}}<br />
      {{moonInfo.nextNewMoon}}<br />
      {{moonInfo.nextFullMoon}}
    </p>

    <hr />

    {{#if noLatLong}}
      <h2>Hey we're missing some info <small>Kitty needs to know (roughly) where you are for Sun stuff 😎</small></h2>
      <p>Please set your latitude and longitude in the <a href="/admin#latlong">admin page</a>.</p>
      <hr />
    {{/if}}

    {{#if noCustomPrompt}}
      <h2>Nearly there! <small>Personalise your prompt</small></h2>
      <p>Mystic Kitty comes with a default prompt designed for Daniel, it's included as an example but you should head
        to the <a href="/admin#custom-prompt">admin page</a>, and customise it to your own needs. Then when you come
        back to this homepage everything should start working.</p>
      <p>
        <a href="/admin#custom-prompt" class="button primary">Customise your prompt</a>
      </p>
      <hr />
    {{/if}}

    {{#if showAdvice}}
      <p>
        {{{todaysAdvice}}}
      </p>
      <p>
        <a href="/?tryagain=true" class="button primary">Run again</a>
      </p>
      <h2>Notes</h2>
      <p>
        You can add some notes here which will get fed back into future advice prompts for the next two weeks (and today
        if you decide to run it again). Think of it as telling Kitty what you're up to, and what you're thinking about,
        and things you want her to keep in mind for the near future.
      </p>
      <p>
        She may not use all of the notes, so if there's anything important you want her to know then try adding
        "IMPORTANT:" before it, that may help (but is not guaranteed).
      </p>
      <form method="post">
        <div class="col-sm-12 col-md">
          <textarea id="notes" name="notes" style="width:99%;" class="doc" rows="25">{{todaysNotes}}</textarea>
        </div>
        <p>
          <button type="submit" class="button primary">Save notes</button>
        </p>
        <p>
          <small>*Anything to write in the notes will be sent to the OpenAI API, they (say they) don't use it for
            training, but you know I'd avoid putting in people's addresses, phone numbers, etc.</small>
        </p>
      </form>
      </p>

      <hr />
      <div class="card" style="max-width: none">
        <div class="section">
          <h2>Original markdown format</h2>
        </div>
        <div class="section">
          <pre>
          {{{todaysAdviceRAW}}}
          </pre>
        </div>
      </div>
    {{/if}}
  </div>

  {{> footer}}
</body>

</html>